
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    @Scripts.Render("~/app_assets/js/PatientBilling/PatientBilling.js")
}

<div class="row" id="PatList">
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-header justify-content-between align-items-center">

                <div class="col col-sm-10">
                    <h3 class="card-title text-lg font-weight-bold">
                        <i class="fas fa-sitemap mr-2 text-primary"></i>Investigation Master
                    </h3>
                </div>
                <div class="col col-sm-2 offset-sm-10 text-sm-right">
                    <button type="button" class="btn btn-blue btn-sm" onclick="return clearfields()" data-target="#Billing">
                        Add
                    </button>
                </div>

            </div>
            <div class="card-body">
                <table class="table table-sm table-bordered table-striped nowrap" style="width:100%" id="billstable">
                    <thead>
                        <tr>
                            <th>Serial</th>
                            <th>Bill No</th>
                            <th>Bill Date</th>
                            <th>Patient Name</th>
                            <th>Mobile No</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>

<section class="">
    <div class="">
        <div class="row collapse" id="Billing">
            
            <div class="col-sm-12">
                <form>
                    <div class="card">
                        <div class="card-header2 d-flex justify-content-between align-items-center bg-primary">
                            <h5 class="mb-0 text-white"><i class="fas fa-file-invoice-dollar mx-2"></i>Create New Bill</h5>
                            <button class="btn btn-sm btn-secondary ml-3" id="backToListBtn" style="position: absolute; right: 32px;" onclick="return ToggleForm();"><i class="fas fa-arrow-left mx-2"></i>Back to List</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header text-primary">
                            <h5 class="card-title">Patint Details</h5>
                        </div>
                        <div class="card-body p-2">

                            <div class="row">
                                <!-- ID (Hidden) -->
                                <input type="hidden" id="Id" value="123">
                                <input type="hidden" id="hiddenPatientId" />
                                
                                <div class="col-sm-12 col-md-3 col-lg-3">
                                    <label class="col-form-label-sm">Mobile No</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sm" id="MobileNo" placeholder="Enter 10-digit mobile number" maxlength="10">
                                        <div class="input-group-append">
                                            <button class="btn btn-info btn-sm" type="button" id="btnSearchPatient">
                                                <i class="fa fa-search"></i> Search
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 col-md-3 col-lg-3">
                                    <label class="col-form-label-sm" for="PatName">Patient Name</label>
                                    <input id="PatName" type="text" class="form-control form-control-sm validate" />
                                </div>

                                <div class=" col-sm-12 col-md-3 col-lg-3">
                                    <label class="col-form-label-sm" for="Age">Age</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sm validate" id="Age">
                                        <div class="input-group-append">
                                            <select class="form-control form-control-sm" id="AgeType">
                                                <option value="" disabled selected>Type</option>
                                                <option value="1">Year(s)</option>
                                                <option value="2">Month(s)</option>
                                                <option value="3">Day(s)</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="p col-sm-12 col-md-3 col-lg-3">
                                    <label class="col-form-label-sm">Gender</label>
                                    <select class="form-control form-control-sm" id="Gender">
                                        <option value="" disabled selected>Gender</option>
                                        <option value="1">Male</option>
                                        <option value="2">Female</option>
                                        <option value="3">Others</option>
                                    </select>
                                </div>

                                <div class=" col-sm-12 col-md-3 col-lg-3">
                                    <label class="col-form-label-sm" for="Ref">Reffered By</label>
                                    <input type="text" id="Ref" class="form-control form-control-sm validate">
                                </div>

                                <div class=" col-sm-12 col-md-3 col-lg-3">
                                    <label class="col-form-label-sm" for="Area">Area</label>
                                    <input id="Area" type="text" class="form-control form-control-sm validate">
                                </div>

                                <label id="CityId" class="d-none"></label>
                                <div class=" col-sm-12 col-md-3 col-lg-3">
                                    <label class="col-form-label-sm" for="City">City</label>
                                    <input type="text" id="City" class="form-control form-control-sm validate">
                                </div>

                                <div class=" col-sm-12 col-md-3 col-lg-3">
                                    <label class="col-form-label-sm" for="Email">Email</label>
                                    <input id="Email" type="email" class="form-control form-control-sm validate">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-8">
                            <div class="card">
                                <div class="card-body p-1">
                                    <div class="form-group mb-0">
                                        @*<label class="col-form-label-sm" for="Inv">Investigation</label>*@
                                        <select type="text" id="Inv" class="invsearch form-control form-control-sm"> </select>
                                    </div>
                                    <div class="table-responsive form-group mb-0">
                                        <table class="table table-sm table-borderless table-striped nowrap" style="width:100%" id="invtable">
                                            @*<caption>Patient Bills</caption>*@
                                            <thead>
                                                <tr>
                                                    <th>Inv Id</th>
                                                    <th>Inv Code</th>
                                                    <th>Investigation Name</th>
                                                    <th>Rate</th>
                                                    <th>Discount(Rs / %)</th>
                                                    <th class="right-align">Net Amount</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="summary-container summary-row">
                                        <div class="summary-column-wrapper">
                                            <div class="summary-item">
                                                <span class="summary-label">Total Bill :</span>
                                                <span class="summary-amount" id="lblTotalBill">0.00</span>
                                            </div>
                                            <div class="summary-item">
                                                <span class="summary-label">Discount Amount :</span>
                                                <span class="summary-amount" id="lblDiscountAmount">0.00</span>
                                            </div>
                                        </div>

                                        <div class="summary-column-wrapper">
                                            <div class="summary-item">
                                                <span class="summary-label">Net Amount :</span>
                                                <span class="summary-amount" id="lblNetAmount">0.00</span>
                                            </div>
                                            <div class="summary-item">
                                                <span class="summary-label">Paid Amount :</span>
                                                <span class="summary-amount" id="lblPaidAmount">0.00</span>
                                            </div>
                                        </div>

                                        <div class="summary-column-wrapper">
                                            <div class="summary-item">
                                                <span class="summary-label">Due Amount :</span>
                                                <span class="summary-amount" id="lblDueAmount">613.75</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title text-primary">Payment Details</h5>
                                </div>
                                <div class="card-body p-1">
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="col-form-label-sm">Payment Mode</label>
                                            <select class="form-control form-control-sm" id="paymentMode">
                                                <option value="" disabled selected>Mode</option>
                                                <option value="1">Cash</option>
                                                <option value="2">UPI</option>
                                                <option value="3">Card</option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <label class="col-form-label-sm" for="pamount">Amount</label>
                                            <input type="text" id="pamount" class="form-control form-control-sm">
                                        </div>
                                        <div class="col-4">
                                            <label class="col-form-label-sm" for="refno">Reference No</label>
                                            <input type="text" id="refno" class="form-control form-control-sm" disabled>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <button class="btn btn-primary btn-sm" id="btnAddPay" type="button">
                                                + Add Payment
                                            </button>
                                        </div>
                                    </div>
                                    <div class="table-responsive form-group mb-0">
                                        <table class="table table-sm table-bordered table-striped nowrap" style="width:100%" id="paymentGrid">
                                            <thead>
                                                <tr>
                                                    <th>Payment Mode</th>
                                                    <th>Amount</th>
                                                    <th>Ref.No</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="form-group mt-3">
                                        <label class="col-form-label-sm" for="Remarks">Remarks</label>
                                        <textarea id="Remarks" class="form-control form-control-sm" rows="3"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Card Footer -->
                    <div class="card-footer text-center">
                        <button type="button" class="btn btn-success btn-md mx-2" id="btnAdd" onclick="return SaveBill();"><i class="fas fa-save mx-2"></i>Save Bill</button>
                        <button type="button" class="btn btn-info btn-md mx-2 text-white"><i class="fas fa-print mx-2"></i>Print Bill</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
<!-- Patient Search Modal -->
<div class="modal fade" id="patientSearchModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select Existing Patient</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="patientSearchTable">
                        <thead>
                            <tr>
                                <th>UHID</th>
                                <th>Name</th>
                                <th>Age/Gender</th>
                                <th>Last Visit</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Dynamic content -->
                        </tbody>
                    </table>
                </div>
                <div class="text-center mt-3">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="btnNewPatient">Add as New Patient</button>
                </div>
            </div>
        </div>
    </div>
</div>