USE [eMedLis]
GO
/****** Object:  Table [dbo].[BillDetail]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetail](
	[BillDetailId] [int] IDENTITY(1,1) NOT NULL,
	[BillSummaryId] [int] NOT NULL,
	[InvId] [nvarchar](50) NOT NULL,
	[InvName] [nvarchar](200) NOT NULL,
	[Rate] [decimal](18, 2) NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[DiscountPercent] [decimal](18, 2) NOT NULL,
	[NetAmount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BillDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillSummary]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillSummary](
	[BillSummaryId] [int] IDENTITY(1,1) NOT NULL,
	[PatientInfoId] [int] NOT NULL,
	[BillDate] [datetime] NOT NULL,
	[TotalBill] [decimal](18, 2) NOT NULL,
	[TotalDiscountAmount] [decimal](18, 2) NOT NULL,
	[NetAmount] [decimal](18, 2) NOT NULL,
	[PaidAmount] [decimal](18, 2) NOT NULL,
	[DueAmount] [decimal](18, 2) NOT NULL,
	[Remarks] [nvarchar](500) NULL,
	[BillNo] [varchar](20) NULL,
	[Status] [varchar](20) NULL,
	[CancelReason] [varchar](500) NULL,
	[CancelledBy] [varchar](100) NULL,
	[CancelledDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BillSummaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CollectionInstructions]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CollectionInstructions](
	[InstructionId] [int] IDENTITY(1,1) NOT NULL,
	[InvMasterId] [bigint] NOT NULL,
	[PatientInstructions] [text] NULL,
	[PreCollectionInstructions] [text] NULL,
	[PostCollectionInstructions] [text] NULL,
	[FastingHours] [int] NULL,
	[SpecialInstructions] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[InstructionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContainerMaster]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContainerMaster](
	[ContainerId] [int] IDENTITY(1,1) NOT NULL,
	[ContainerName] [varchar](100) NOT NULL,
	[ContainerCode] [varchar](20) NOT NULL,
	[CapColor] [varchar](50) NULL,
	[Volume] [varchar](50) NULL,
	[Additive] [varchar](100) NULL,
	[StorageTemp] [varchar](50) NULL,
	[ExpiryDays] [int] NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContainerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](50) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Department] UNIQUE NONCLUSTERED 
(
	[DepartmentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DuePayment]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DuePayment](
	[DuePaymentId] [int] IDENTITY(1,1) NOT NULL,
	[BillSummaryId] [int] NOT NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentMode] [varchar](20) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[RefNo] [varchar](50) NULL,
	[ReceivedBy] [varchar](100) NULL,
	[Remarks] [varchar](500) NULL,
	[ReceiptNo] [varchar](20) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DuePaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employeemaster]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employeemaster](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[LoginName] [varchar](50) NULL,
	[Password] [varchar](50) NOT NULL,
	[Email] [varchar](50) NULL,
	[ContactNo] [varchar](15) NULL,
	[Address] [varchar](50) NULL,
	[IsApporved] [int] NULL,
	[Status] [int] NULL,
	[TotalCnt] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Investigations]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Investigations](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[InvName] [varchar](50) NOT NULL,
	[ReportHdr] [varchar](50) NOT NULL,
	[Rate] [numeric](9, 2) NOT NULL,
	[SubDeptId] [bigint] NOT NULL,
	[SpecimenId] [bigint] NOT NULL,
	[VacutainerId] [bigint] NOT NULL,
	[ReportTime] [varchar](50) NOT NULL,
	[InvCode] [varchar](50) NOT NULL,
	[GuideLines] [varchar](50) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Investigations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[Level] [nvarchar](128) NULL,
	[TimeStamp] [datetime] NOT NULL,
	[Exception] [nvarchar](max) NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LookupTable]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookupTable](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemName] [varchar](50) NOT NULL,
	[ItemType] [varchar](50) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_LookupTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientInfo]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientInfo](
	[PatientInfoId] [int] IDENTITY(1,1) NOT NULL,
	[MobileNo] [nvarchar](20) NOT NULL,
	[PatName] [nvarchar](100) NOT NULL,
	[Age] [int] NOT NULL,
	[AgeType] [nvarchar](10) NULL,
	[Gender] [nvarchar](10) NULL,
	[Ref] [nvarchar](100) NULL,
	[Area] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[UHID] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentDetail]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentDetail](
	[PaymentDetailId] [int] IDENTITY(1,1) NOT NULL,
	[BillSummaryId] [int] NOT NULL,
	[PaymentMode] [nvarchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[RefNo] [nvarchar](100) NULL,
	[IsDuePayment] [bit] NOT NULL,
	[PaidDate] [datetime] NULL,
	[PaymentDate] [datetime] NOT NULL,
	[ReceiptNo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SampleCollection]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SampleCollection](
	[SampleCollectionId] [int] IDENTITY(1,1) NOT NULL,
	[BillSummaryId] [int] NOT NULL,
	[PatientInfoId] [int] NOT NULL,
	[CollectionDate] [datetime] NOT NULL,
	[CollectionTime] [time](7) NOT NULL,
	[CollectedBy] [varchar](100) NOT NULL,
	[CollectionBarcode] [varchar](30) NOT NULL,
	[CollectionStatus] [varchar](20) NULL,
	[Priority] [varchar](20) NULL,
	[Remarks] [varchar](500) NULL,
	[HomeCollection] [bit] NULL,
	[PatientAddress] [varchar](500) NULL,
	[CollectionCharges] [decimal](10, 2) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SampleCollectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CollectionBarcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SampleCollectionDetail]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SampleCollectionDetail](
	[SampleDetailId] [int] IDENTITY(1,1) NOT NULL,
	[SampleCollectionId] [int] NOT NULL,
	[InvMasterId] [bigint] NOT NULL,
	[InvestigationName] [varchar](200) NOT NULL,
	[SpecimenType] [varchar](100) NOT NULL,
	[ContainerType] [varchar](100) NOT NULL,
	[SampleBarcode] [varchar](30) NOT NULL,
	[CollectionInstructions] [text] NULL,
	[FastingRequired] [bit] NULL,
	[SpecialInstructions] [varchar](500) NULL,
	[SampleStatus] [varchar](20) NULL,
	[CollectedQuantity] [varchar](50) NULL,
	[RejectionReason] [varchar](200) NULL,
	[CreatedDate] [datetime] NULL,
	[CollectionDate] [datetime] NULL,
	[CollectionTime] [time](7) NULL,
	[RejectionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SampleDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SampleBarcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubDepartment]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubDepartment](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SubDeptName] [varchar](50) NOT NULL,
	[DepartmentId] [bigint] NOT NULL,
	[Header] [varchar](50) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_SubDepartment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [starter].[__MigrationHistory]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [starter].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_starter.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [starter].[Roles]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [starter].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_starter.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [starter].[Settings]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [starter].[Settings](
	[Id] [int] NOT NULL,
	[ThemeName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_starter.Settings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [starter].[UserClaims]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [starter].[UserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NOT NULL,
	[ClaimValue] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_starter.UserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [starter].[UserPhotos]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [starter].[UserPhotos](
	[Id] [int] NOT NULL,
	[Image] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_starter.UserPhotos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [starter].[UserRoles]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [starter].[UserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_starter.UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [starter].[Users]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [starter].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Age] [int] NULL,
	[Street] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[ZipCode] [nvarchar](max) NULL,
	[Lat] [float] NULL,
	[Lng] [float] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_starter.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BillSummary] ADD  DEFAULT (getdate()) FOR [BillDate]
GO
ALTER TABLE [dbo].[BillSummary] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[CollectionInstructions] ADD  DEFAULT ((0)) FOR [FastingHours]
GO
ALTER TABLE [dbo].[ContainerMaster] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Department] ADD  CONSTRAINT [DF_Department_Active]  DEFAULT ((0)) FOR [Active]
GO
ALTER TABLE [dbo].[DuePayment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[DuePayment] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Employeemaster] ADD  CONSTRAINT [DF_Employeemaster_IsApporved]  DEFAULT ((1)) FOR [IsApporved]
GO
ALTER TABLE [dbo].[Employeemaster] ADD  CONSTRAINT [DF_Employeemaster_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Employeemaster] ADD  CONSTRAINT [DF_Employeemaster_TotalCnt]  DEFAULT ((0)) FOR [TotalCnt]
GO
ALTER TABLE [dbo].[Investigations] ADD  CONSTRAINT [DF_Investigations_Active]  DEFAULT ((0)) FOR [Active]
GO
ALTER TABLE [dbo].[LookupTable] ADD  CONSTRAINT [DF_LookupTable_Active]  DEFAULT ((0)) FOR [Active]
GO
ALTER TABLE [dbo].[PaymentDetail] ADD  CONSTRAINT [DF_PaymentDetail_IsDuePayment]  DEFAULT ((0)) FOR [IsDuePayment]
GO
ALTER TABLE [dbo].[PaymentDetail] ADD  CONSTRAINT [DF_PaymentDetail_PaymentDate]  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[SampleCollection] ADD  DEFAULT (getdate()) FOR [CollectionDate]
GO
ALTER TABLE [dbo].[SampleCollection] ADD  DEFAULT ('Pending') FOR [CollectionStatus]
GO
ALTER TABLE [dbo].[SampleCollection] ADD  DEFAULT ('Normal') FOR [Priority]
GO
ALTER TABLE [dbo].[SampleCollection] ADD  DEFAULT ((0)) FOR [HomeCollection]
GO
ALTER TABLE [dbo].[SampleCollection] ADD  DEFAULT ((0)) FOR [CollectionCharges]
GO
ALTER TABLE [dbo].[SampleCollection] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SampleCollectionDetail] ADD  DEFAULT ((0)) FOR [FastingRequired]
GO
ALTER TABLE [dbo].[SampleCollectionDetail] ADD  DEFAULT ('Not Collected') FOR [SampleStatus]
GO
ALTER TABLE [dbo].[SampleCollectionDetail] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK_BillDetail_BillSummary] FOREIGN KEY([BillSummaryId])
REFERENCES [dbo].[BillSummary] ([BillSummaryId])
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [FK_BillDetail_BillSummary]
GO
ALTER TABLE [dbo].[BillSummary]  WITH CHECK ADD  CONSTRAINT [FK_BillSummary_PatientInfo] FOREIGN KEY([PatientInfoId])
REFERENCES [dbo].[PatientInfo] ([PatientInfoId])
GO
ALTER TABLE [dbo].[BillSummary] CHECK CONSTRAINT [FK_BillSummary_PatientInfo]
GO
ALTER TABLE [dbo].[CollectionInstructions]  WITH CHECK ADD FOREIGN KEY([InvMasterId])
REFERENCES [dbo].[Investigations] ([Id])
GO
ALTER TABLE [dbo].[DuePayment]  WITH CHECK ADD FOREIGN KEY([BillSummaryId])
REFERENCES [dbo].[BillSummary] ([BillSummaryId])
GO
ALTER TABLE [dbo].[PaymentDetail]  WITH CHECK ADD  CONSTRAINT [FK_PaymentDetail_BillSummary] FOREIGN KEY([BillSummaryId])
REFERENCES [dbo].[BillSummary] ([BillSummaryId])
GO
ALTER TABLE [dbo].[PaymentDetail] CHECK CONSTRAINT [FK_PaymentDetail_BillSummary]
GO
ALTER TABLE [dbo].[SampleCollection]  WITH CHECK ADD FOREIGN KEY([BillSummaryId])
REFERENCES [dbo].[BillSummary] ([BillSummaryId])
GO
ALTER TABLE [dbo].[SampleCollection]  WITH CHECK ADD FOREIGN KEY([PatientInfoId])
REFERENCES [dbo].[PatientInfo] ([PatientInfoId])
GO
ALTER TABLE [dbo].[SampleCollectionDetail]  WITH CHECK ADD FOREIGN KEY([InvMasterId])
REFERENCES [dbo].[Investigations] ([Id])
GO
ALTER TABLE [dbo].[SampleCollectionDetail]  WITH CHECK ADD FOREIGN KEY([SampleCollectionId])
REFERENCES [dbo].[SampleCollection] ([SampleCollectionId])
GO
ALTER TABLE [starter].[Settings]  WITH CHECK ADD  CONSTRAINT [FK_starter.Settings_starter.Users_Id] FOREIGN KEY([Id])
REFERENCES [starter].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [starter].[Settings] CHECK CONSTRAINT [FK_starter.Settings_starter.Users_Id]
GO
ALTER TABLE [starter].[UserClaims]  WITH CHECK ADD  CONSTRAINT [FK_starter.UserClaims_starter.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [starter].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [starter].[UserClaims] CHECK CONSTRAINT [FK_starter.UserClaims_starter.Users_UserId]
GO
ALTER TABLE [starter].[UserPhotos]  WITH CHECK ADD  CONSTRAINT [FK_starter.UserPhotos_starter.Users_Id] FOREIGN KEY([Id])
REFERENCES [starter].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [starter].[UserPhotos] CHECK CONSTRAINT [FK_starter.UserPhotos_starter.Users_Id]
GO
ALTER TABLE [starter].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_starter.UserRoles_starter.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [starter].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [starter].[UserRoles] CHECK CONSTRAINT [FK_starter.UserRoles_starter.Roles_RoleId]
GO
ALTER TABLE [starter].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_starter.UserRoles_starter.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [starter].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [starter].[UserRoles] CHECK CONSTRAINT [FK_starter.UserRoles_starter.Users_UserId]
GO
/****** Object:  StoredProcedure [dbo].[usp_CalculateAndUpdateSampleCollectionStatus]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_CalculateAndUpdateSampleCollectionStatus]
    @SampleCollectionId INT
AS
BEGIN
    DECLARE @TotalSamples INT
    DECLARE @CollectedSamples INT
    DECLARE @RejectedSamples INT
    DECLARE @PendingSamples INT
    DECLARE @CalculatedStatus VARCHAR(20)

    -- Count samples by status
    SELECT 
        @TotalSamples = COUNT(*),
        @CollectedSamples = SUM(CASE WHEN SampleStatus = 'Collected' THEN 1 ELSE 0 END),
        @RejectedSamples = SUM(CASE WHEN SampleStatus = 'Rejected' THEN 1 ELSE 0 END),
        @PendingSamples = SUM(CASE WHEN SampleStatus = 'Pending' THEN 1 ELSE 0 END)
    FROM SampleCollectionDetail
    WHERE SampleCollectionId = @SampleCollectionId

    -- Calculate status
    IF @TotalSamples = 0
        SET @CalculatedStatus = 'New'
    ELSE IF @CollectedSamples = @TotalSamples
        SET @CalculatedStatus = 'Collected'
    ELSE IF @RejectedSamples = @TotalSamples
        SET @CalculatedStatus = 'Rejected'
    ELSE IF @CollectedSamples > 0 AND @RejectedSamples > 0
        SET @CalculatedStatus = 'Partial Rejection'
    ELSE IF @CollectedSamples > 0 AND @PendingSamples > 0
        SET @CalculatedStatus = 'Partially Collected'
    ELSE
        SET @CalculatedStatus = 'Pending'

    -- Update master status
    UPDATE SampleCollection
    SET CollectionStatus = @CalculatedStatus
    WHERE SampleCollectionId = @SampleCollectionId
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CancelBill]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedure to cancel/refund bill
CREATE PROCEDURE [dbo].[usp_CancelBill]
    @BillSummaryId INT,
    @CancelReason VARCHAR(500),
    @CancelledBy VARCHAR(100)
AS
BEGIN
    UPDATE BillSummary 
    SET 
        Status = 'Cancelled',
        CancelReason = @CancelReason,
        CancelledBy = @CancelledBy,
        CancelledDate = GETDATE()
    WHERE BillSummaryId = @BillSummaryId
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Department]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Usp_Department]
(  
   @Id INTEGER=NULL,
   @DepartmentName VARCHAR(20)=NULL,
   @Description VARCHAR(100) = NULL,
   @Active BIT=NULL,
   @Action VARCHAR(20),
   @StatusCode INT = 0 OUTPUT,
   @StatusMsg VARCHAR(100) = NULL OUTPUT
   --@CreateBy varchar (50),
   --@Terminal varchar (50),
   --@CreateDate datetime    
)  
AS
BEGIN

IF @Action = 'Add'
BEGIN
	IF NOT EXISTS (SELECT DepartmentName FROM Department WHERE DepartmentName = @DepartmentName)
		BEGIN
			Insert into Department values(@DepartmentName,@Description,@Active)  
			SELECT @StatusCode = 1, @StatusMsg = 'Department Created Successfully'
		END 
	ELSE
		BEGIN
			SELECT @StatusCode = 0, @StatusMsg = '"'+ @DepartmentName +'"'+' '+ 'Already Exist'
		END
END
IF @Action='Update'
BEGIN
	IF NOT EXISTS (SELECT DepartmentName FROM Department WHERE DepartmentName = @DepartmentName AND Id<>@Id)
		BEGIN
			Update Department set DepartmentName=@DepartmentName,Description=@Description,Active=@Active where Id=@Id
			SELECT @StatusCode = 1, @StatusMsg = 'Department Updated Successfully'
		END
	ELSE
		BEGIN
			SELECT @StatusCode = 0, @StatusMsg = '"'+ @DepartmentName +'"'+' '+ 'Already Exist'
		END
END

IF @Action='Delete'
BEGIN
	DELETE FROM Department WHERE Id=@Id
	SELECT @StatusCode = 1, @StatusMsg = 'Department Deleted Successfully'
END

IF @Action='GetDepartment'
BEGIN
	SELECT Id,DepartmentName,Description,ISNULL(Active,0) Active FROM Department ORDER BY id DESC
END

IF @Action='GetDepartmentById'
BEGIN
	SELECT Id,DepartmentName,Description,ISNULL(Active,0) Active FROM Department WHERE Id = @id
END

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GenerateCollectionBarcode]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GenerateCollectionBarcode]
    @CollectionDate DATE,
    @SampleBarcode VARCHAR(30) OUTPUT
AS
BEGIN
    DECLARE @DateCode CHAR(6) = FORMAT(@CollectionDate, 'yyMMdd')
    DECLARE @Seq INT
    
    SELECT @Seq = ISNULL(MAX(CAST(RIGHT(CollectionBarcode, 4) AS INT)), 0)
    FROM SampleCollection
    WHERE CAST(CollectionDate AS DATE) = @CollectionDate
    
    SET @SampleBarcode = 'SC' + @DateCode + RIGHT('0000' + CAST(@Seq + 1 AS VARCHAR), 4)
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GenerateReceiptNo]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GenerateReceiptNo]
    @Prefix VARCHAR(10),     -- e.g., 'RCP' or 'RCPD'
    @ReceiptNo VARCHAR(20) OUTPUT
AS
BEGIN
    DECLARE @YYMM CHAR(4) = RIGHT(CONVERT(VARCHAR(6), GETDATE(), 12),4);  
    DECLARE @Seq INT;

    SELECT @Seq = ISNULL(MAX(CAST(RIGHT(ReceiptNo,4) AS INT)), 0)
    FROM PaymentDetail
    WHERE ReceiptNo LIKE @Prefix + @YYMM + '%';

    SET @ReceiptNo = @Prefix + @YYMM + RIGHT('0000' + CAST(@Seq + 1 AS VARCHAR), 4);
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GenerateSampleBarcode]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GenerateSampleBarcode]
    @CollectionDate DATE,
    @InvCode VARCHAR(10),
    @SampleBarcode VARCHAR(30) OUTPUT
AS
BEGIN
    DECLARE @DateCode CHAR(6) = FORMAT(@CollectionDate, 'yyMMdd')
    DECLARE @Seq INT
    
    SELECT @Seq = ISNULL(MAX(CAST(RIGHT(SampleBarcode, 3) AS INT)), 0)
    FROM SampleCollectionDetail
    WHERE CAST(CreatedDate AS DATE) = @CollectionDate
      AND SampleBarcode LIKE 'S' + @DateCode + @InvCode + '%'
    
    SET @SampleBarcode = 'S' + @DateCode + @InvCode + RIGHT('000' + CAST(@Seq + 1 AS VARCHAR), 3)
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetActiveContainers]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetActiveContainers]
AS
BEGIN
    SELECT 
        ContainerId,
        ContainerName,
        ContainerCode,
        CapColor,
        Volume,
        Additive,
        StorageTemp,
        ExpiryDays,
        Active
    FROM ContainerMaster
    WHERE Active = 1
    ORDER BY ContainerName
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetBillByBillNo]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- New procedure to search bills by BillNo
CREATE PROCEDURE [dbo].[usp_GetBillByBillNo]
    @BillNo VARCHAR(20)
AS
BEGIN
    SELECT BillSummaryId, BillNo, PatientInfoId, TotalBill, TotalDiscountAmount, 
           NetAmount, PaidAmount, DueAmount, Remarks, BillDate
    FROM BillSummary 
    WHERE BillNo = @BillNo
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetBillById]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetBillById]
    @BillSummaryId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- First result set: Bill Summary and Patient Info
    SELECT 
        bs.*,
        pi.MobileNo,
        pi.PatName,
        pi.Age,
        pi.AgeType,
        pi.Gender,
        pi.Ref,
        pi.Area,
        pi.City,
        pi.Email
    FROM BillSummary AS bs
    JOIN PatientInfo AS pi ON bs.PatientInfoId = pi.PatientInfoId
    WHERE bs.BillSummaryId = @BillSummaryId;

    -- Second result set: Bill Details (Investigations)
    SELECT
        InvId,
        InvName,
        Rate,
        DiscountAmount,
        DiscountPercent,
        NetAmount
    FROM BillDetail
    WHERE BillSummaryId = @BillSummaryId;

    -- Third result set: Payment Details
    SELECT
        PaymentMode,
        Amount,
        RefNo
    FROM PaymentDetail
    WHERE BillSummaryId = @BillSummaryId;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetBillDetails]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetBillDetails]
    @BillSummaryId INT
AS
BEGIN
    SELECT InvId, InvName, Rate, DiscountAmount, DiscountPercent, NetAmount
    FROM BillDetail 
    WHERE BillSummaryId = @BillSummaryId
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetBillForSampleCollection]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetBillForSampleCollection]
    @BillSummaryId INT
AS
BEGIN
    SELECT 
        bs.BillSummaryId,
        bs.BillNo,
        bs.BillDate,
        bs.NetAmount,
        bs.TotalBill,
        bs.TotalDiscountAmount,
        bs.PaidAmount,
        bs.DueAmount,
        pi.PatientInfoId,
        pi.PatName,
        pi.UHID,
        pi.MobileNo,
        pi.Age,
        pi.AgeType,
        pi.Gender,
        pi.Area,
        pi.City,
        pi.Ref,
        bd.InvId,
        bd.InvName,
        bd.Rate,
        bd.NetAmount as DetailAmount,
        LT.ItemName as SpecimenName,
        LTT.ItemName as VacutainerName,
        'False' as FastingRequired,
        ISNULL(im.GuideLines, '') as SpecialInstructions
    FROM BillSummary bs
    INNER JOIN PatientInfo pi ON bs.PatientInfoId = pi.PatientInfoId
    LEFT JOIN BillDetail bd ON bs.BillSummaryId = bd.BillSummaryId
    LEFT JOIN Investigations im ON bd.InvId = im.Id
	INNER JOIN LookupTable LT on lt.Id = im.SpecimenId
	INNER JOIN LookupTable LTT on LTT.Id = im.VacutainerId
    WHERE bs.BillSummaryId = @BillSummaryId
    ORDER BY bd.InvId
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetBillSummary]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetBillSummary]
    @BillSummaryId INT
AS
BEGIN
    SELECT BillSummaryId,BillDate, BillNo, PatientInfoId, TotalBill, TotalDiscountAmount, 
           NetAmount, PaidAmount, DueAmount, Remarks
    FROM BillSummary 
    WHERE BillSummaryId = @BillSummaryId
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetCompleteBillById]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetCompleteBillById] @BillSummaryId INT
        AS
        BEGIN
            -- 1. BillSummary
            SELECT * FROM BillSummary WHERE BillSummaryId = @BillSummaryId;

            -- 2. PatientInfo
            SELECT * FROM PatientInfo p
            JOIN BillSummary b ON p.PatientInfoId = b.PatientInfoId
            WHERE b.BillSummaryId = @BillSummaryId;

            -- 3. BillDetails
            SELECT * FROM BillDetail WHERE BillSummaryId = @BillSummaryId;

            -- 4. PaymentDetails
            SELECT * FROM PaymentDetail WHERE BillSummaryId = @BillSummaryId;
        END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetContainerByName]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetContainerByName]
    @ContainerName VARCHAR(100)
AS
BEGIN
    SELECT 
        ContainerId,
        ContainerName,
        ContainerCode,
        CapColor,
        Volume,
        Additive,
        StorageTemp,
        ExpiryDays,
        Active
    FROM ContainerMaster
    WHERE ContainerName = @ContainerName
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetDueBills]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetDueBills]
    @Days INT = 30
AS
BEGIN
    SELECT 
        bs.BillSummaryId,
        bs.BillNo,
        bs.BillDate,
        bs.NetAmount,
        bs.PaidAmount,
        bs.DueAmount,
        pi.PatName,
        pi.MobileNo,
        pi.UHID,
        pi.Age,
        pi.Gender,
        DATEDIFF(DAY, bs.BillDate, GETDATE()) as DaysPending
    FROM BillSummary bs
    INNER JOIN PatientInfo pi ON bs.PatientInfoId = pi.PatientInfoId
    WHERE bs.DueAmount > 0 
      AND bs.BillDate >= DATEADD(DAY, -@Days, GETDATE())
      AND (bs.Status IS NULL OR bs.Status = 'Active')
    ORDER BY bs.BillDate DESC
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetInvestigationDetails]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetInvestigationDetails]
    @InvId INT
AS
BEGIN
    SELECT 
        Investigations.Id as InvMasterId,
        InvName,
        LT.ItemName as SpecimenName,
        LTT.ItemName as VacutainerName,
		'False' as FastingRequired,
        ISNULL(GuideLines, '') as SpecialInstructions
    FROM Investigations
	INNER JOIN LookupTable LT on lt.Id = Investigations.SpecimenId
	INNER JOIN LookupTable LTT on LTT.Id = Investigations.VacutainerId
    WHERE Investigations.Id = @InvId
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetPatientInfo]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPatientInfo]
    @PatientInfoId INT
AS
BEGIN
    SELECT PatientInfoId, UHID, MobileNo, PatName, Age, AgeType, Gender, 
           Ref, Area, City, Email
    FROM PatientInfo 
    WHERE PatientInfoId = @PatientInfoId
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetPaymentDetails]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPaymentDetails]
    @BillSummaryId INT
AS
BEGIN
    SELECT PaymentMode, Amount, RefNo, ReceiptNo, PaymentDate
    FROM PaymentDetail 
    WHERE BillSummaryId = @BillSummaryId
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetPaymentReceipt]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPaymentReceipt]
    @DuePaymentId INT
AS
BEGIN
    SELECT 
        dp.DuePaymentId,
        dp.ReceiptNo,
        dp.PaymentDate,
        dp.PaymentMode,
        dp.Amount,
        dp.RefNo,
        dp.ReceivedBy,
        dp.Remarks,
        bs.BillNo,
        bs.BillSummaryId,
        bs.NetAmount as BillAmount,
        bs.PaidAmount as TotalPaid,
        bs.DueAmount as RemainingDue,
        pi.PatName,
        pi.MobileNo,
        pi.UHID,
        pi.Age,
        pi.Gender
    FROM DuePayment dp
    INNER JOIN BillSummary bs ON dp.BillSummaryId = bs.BillSummaryId
    INNER JOIN PatientInfo pi ON bs.PatientInfoId = pi.PatientInfoId
    WHERE dp.DuePaymentId = @DuePaymentId
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetPendingCollectionsForSampling]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPendingCollectionsForSampling]
AS
BEGIN
    SELECT 
        bs.BillSummaryId,
        bs.BillNo,
        bs.BillDate,
        bs.NetAmount,
        pi.PatientInfoId,
        pi.PatName,
        ISNULL(pi.UHID, '') as UHID,
        ISNULL(pi.MobileNo, '') as MobileNo,
        pi.Age,
        ISNULL(pi.Gender, '') as Gender,
        ISNULL(pi.Area, '') as Area,
        ISNULL(pi.City, '') as City,
        ISNULL(sc.SampleCollectionId, 0) as SampleCollectionId,
        ISNULL(sc.CollectionBarcode, '') as CollectionBarcode,
        ISNULL(sc.CollectionDate, GETDATE()) as CollectionDate,
        ISNULL(sc.CollectionTime, CAST('09:00:00' AS TIME)) as CollectionTime,
        ISNULL(sc.Priority, 'Normal') as Priority,
        ISNULL(sc.CollectionStatus, 'Pending') as CollectionStatus,
        ISNULL(sc.HomeCollection, 0) as HomeCollection,
        ISNULL(sc.CollectedBy, '') as CollectedBy,
        DATEDIFF(DAY, bs.BillDate, GETDATE()) as DaysPending
    FROM BillSummary bs
    INNER JOIN PatientInfo pi ON bs.PatientInfoId = pi.PatientInfoId
    LEFT JOIN SampleCollection sc ON bs.BillSummaryId = sc.BillSummaryId
    WHERE (bs.Status IS NULL OR bs.Status = 'Active')
      AND (sc.SampleCollectionId IS NULL OR sc.CollectionStatus IN ('Pending', 'Partial'))
    ORDER BY ISNULL(sc.Priority, 'Normal') DESC, bs.BillDate DESC
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetPendingCollectionsWithSummary]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPendingCollectionsWithSummary]
AS
BEGIN
    SELECT 
        bs.BillSummaryId,
        bs.BillNo,
        bs.BillDate,
        bs.NetAmount,
        pi.PatientInfoId,
        pi.PatName,
        ISNULL(pi.UHID, '') as UHID,
        ISNULL(pi.MobileNo, '') as MobileNo,
        pi.Age,
        ISNULL(pi.Gender, '') as Gender,
        ISNULL(pi.Area, '') as Area,
        ISNULL(pi.City, '') as City,
        ISNULL(sc.SampleCollectionId, 0) as SampleCollectionId,
        ISNULL(sc.CollectionBarcode, '') as CollectionBarcode,
        ISNULL(sc.CollectionDate, GETDATE()) as CollectionDate,
        ISNULL(sc.CollectionTime, CAST('09:00:00' AS TIME)) as CollectionTime,
        ISNULL(sc.Priority, 'Normal') as Priority,
        ISNULL(sc.CollectionStatus, 'New') as CollectionStatus,
        ISNULL(sc.HomeCollection, 0) as HomeCollection,
        ISNULL(sc.CollectedBy, '') as CollectedBy,
        (SELECT COUNT(*) FROM BillDetail WHERE BillSummaryId = bs.BillSummaryId) as TotalInvestigations,
        ISNULL((SELECT COUNT(*) FROM SampleCollectionDetail WHERE SampleCollectionId = sc.SampleCollectionId AND SampleStatus = 'Collected'), 0) as CollectedCount,
        ISNULL((SELECT COUNT(*) FROM SampleCollectionDetail WHERE SampleCollectionId = sc.SampleCollectionId AND SampleStatus = 'Pending'), 0) as PendingCount,
        DATEDIFF(DAY, bs.BillDate, GETDATE()) as DaysPending
    FROM BillSummary bs
    INNER JOIN PatientInfo pi ON bs.PatientInfoId = pi.PatientInfoId
    LEFT JOIN SampleCollection sc ON bs.BillSummaryId = sc.BillSummaryId
    WHERE (bs.Status IS NULL OR bs.Status = 'Active')
      AND (sc.SampleCollectionId IS NULL OR sc.CollectionStatus IN ('New', 'Pending', 'In Progress', 'Partially Collected', 'Partial Rejection'))
    ORDER BY ISNULL(sc.Priority, 'Normal') DESC, bs.BillDate DESC
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetRecentBills]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetRecentBills]
    @Days INT = 30,               -- Look back this many days
    @Status VARCHAR(20) = NULL    -- Optional: 'Paid', 'Partial', 'Unpaid'
AS
BEGIN
    SELECT 
        bs.BillSummaryId,
        bs.BillNo,
        bs.BillDate,
        bs.TotalBill,
        bs.PaidAmount,
        bs.DueAmount,
		bs.NetAmount,
        pi.PatName,
        pi.Age,
        CASE WHEN pi.AgeType = 1 THEN 'Y' WHEN pi.AgeType=2 THEN 'M' WHEN pi.AgeType=3 THEN 'D' END AS AgeType,
		CASE WHEN pi.Gender = 1 THEN 'M' WHEN pi.Gender=2 THEN 'F' ELSE 'O' END AS Gender,
        pi.Ref,
		pi.MobileNo,
        pi.UHID,
        CASE 
            WHEN bs.DueAmount = 0 THEN 'Paid'
            WHEN bs.PaidAmount = 0 THEN 'Unpaid'
            ELSE 'Partial'
        END AS PaymentStatus
    FROM BillSummary bs
    JOIN PatientInfo pi 
      ON bs.PatientInfoId = pi.PatientInfoId
    WHERE bs.BillDate >= DATEADD(DAY, -@Days, GETDATE())
      AND (@Status IS NULL OR @Status = '' OR 
           CASE 
             WHEN bs.DueAmount = 0 THEN 'Paid'
             WHEN bs.PaidAmount = 0 THEN 'Unpaid'
             ELSE 'Partial'
           END = @Status)
    ORDER BY bs.BillDate DESC
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetSampleCollectionById]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetSampleCollectionById]
    @SampleCollectionId INT
AS
BEGIN
    SELECT 
        sc.SampleCollectionId,
        sc.BillSummaryId,
        sc.PatientInfoId,
        sc.CollectionDate,
        sc.CollectionTime,
        sc.CollectedBy,
        sc.CollectionBarcode,
        sc.CollectionStatus,
        sc.Priority,
        sc.Remarks,
        sc.HomeCollection,
        sc.PatientAddress,
        pi.PatName,
        pi.UHID,
        pi.MobileNo,
        pi.Age,
        pi.Gender,
        pi.Area,
        pi.City,
        bs.BillNo,
        bs.NetAmount
    FROM SampleCollection sc
    INNER JOIN PatientInfo pi ON sc.PatientInfoId = pi.PatientInfoId
    INNER JOIN BillSummary bs ON sc.BillSummaryId = bs.BillSummaryId
    WHERE sc.SampleCollectionId = @SampleCollectionId

    -- Get Sample Details with Investigation info
    SELECT 
        scd.SampleDetailId,
        scd.InvMasterId,
        scd.InvestigationName,
        scd.SpecimenType,
        scd.ContainerType,
        scd.SampleBarcode,
        scd.FastingRequired,
        scd.SpecialInstructions,
        scd.SampleStatus,
        scd.CollectedQuantity,
        LT.ItemName as SpecimenName,
        LTT.ItemName as VacutainerName
    FROM SampleCollectionDetail scd
    LEFT JOIN Investigations im ON scd.InvMasterId = im.Id
	INNER JOIN LookupTable LT on lt.Id = im.SpecimenId
	INNER JOIN LookupTable LTT on LTT.Id = im.VacutainerId
    WHERE scd.SampleCollectionId = @SampleCollectionId
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetSampleCollectionDetailsForEdit]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetSampleCollectionDetailsForEdit]
    @SampleCollectionId INT
AS
BEGIN
    -- Master record
    SELECT 
        sc.SampleCollectionId,
        sc.BillSummaryId,
        sc.PatientInfoId,
        sc.CollectionDate,
        sc.CollectionTime,
        sc.CollectedBy,
        sc.CollectionBarcode,
        sc.CollectionStatus,
        sc.Priority,
        sc.Remarks,
        sc.HomeCollection,
        sc.PatientAddress,
        pi.PatName,
        pi.UHID,
        pi.MobileNo,
        pi.Age,
        pi.Gender,
        bs.BillNo,
        bs.NetAmount
    FROM SampleCollection sc
    INNER JOIN PatientInfo pi ON sc.PatientInfoId = pi.PatientInfoId
    INNER JOIN BillSummary bs ON sc.BillSummaryId = bs.BillSummaryId
    WHERE sc.SampleCollectionId = @SampleCollectionId

    -- Detail records with full timestamp information
    SELECT 
        scd.SampleDetailId,
        scd.SampleCollectionId,
        scd.InvMasterId,
        scd.InvestigationName,
        scd.SpecimenType,
        scd.ContainerType,
        scd.SampleBarcode,
        scd.FastingRequired,
        scd.SpecialInstructions,
        scd.SampleStatus,
        scd.CollectedQuantity,
        scd.RejectionReason,
        scd.CollectionDate,
        scd.CollectionTime,
        scd.RejectionDate,
        CONVERT(VARCHAR(10), scd.CollectionDate, 103) as CollectionDateFormatted,
        CONVERT(VARCHAR(5), scd.CollectionTime, 108) as CollectionTimeFormatted
    FROM SampleCollectionDetail scd
    WHERE scd.SampleCollectionId = @SampleCollectionId
    ORDER BY scd.SampleDetailId
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetSpecimenTypes]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetSpecimenTypes]
AS
BEGIN
    SELECT DISTINCT 
        ItemName as SpecimenType
    FROM LookupTable
    WHERE ItemName IS NOT NULL AND ItemType='Specimen'
    ORDER BY ItemName
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetVacutainerTypes]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetVacutainerTypes]
AS
BEGIN
    SELECT DISTINCT 
        ItemName as SpecimenType
    FROM LookupTable
    WHERE ItemName IS NOT NULL AND ItemType='Vacutainer'
    ORDER BY ItemName
END
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertBillDetail]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsertBillDetail]
    @BillSummaryId INT,
    @InvId NVARCHAR(50),
    @InvName NVARCHAR(200),
    @Rate DECIMAL(18, 2),
    @DiscountAmount DECIMAL(18, 2),
    @DiscountPercent DECIMAL(18, 2),
    @NetAmount DECIMAL(18, 2)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO BillDetail (BillSummaryId, InvId, InvName, Rate, DiscountAmount, DiscountPercent, NetAmount)
    VALUES (@BillSummaryId, @InvId, @InvName, @Rate, @DiscountAmount, @DiscountPercent, @NetAmount);
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertBillSummary]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Update the stored procedure to generate BillNo
CREATE PROCEDURE [dbo].[usp_InsertBillSummary]
    @PatientInfoId INT,
    @TotalBill DECIMAL(10,2),
    @TotalDiscountAmount DECIMAL(10,2),
    @NetAmount DECIMAL(10,2),
    @PaidAmount DECIMAL(10,2),
    @DueAmount DECIMAL(10,2),
    @Remarks VARCHAR(500) = NULL,
    @BillSummaryId INT OUTPUT
AS
BEGIN
    DECLARE @BillNo VARCHAR(20)
    
    -- Generate BillNo: BILL + Year(2 digits) + Month(2 digits) + Sequential Number(4 digits)
    DECLARE @YearMonth VARCHAR(4) = FORMAT(GETDATE(), 'yyMM') -- e.g., 2508 for August 2025
    DECLARE @MaxSeq INT
    
    -- Get the highest sequence number for current year-month
    SELECT @MaxSeq = ISNULL(MAX(CAST(RIGHT(BillNo, 4) AS INT)), 0)
    FROM BillSummary 
    WHERE BillNo LIKE 'BILL' + @YearMonth + '%'
    
    -- Generate new BillNo
    SET @BillNo = 'BILL' + @YearMonth + RIGHT('0000' + CAST(@MaxSeq + 1 AS VARCHAR), 4)
    
    INSERT INTO BillSummary (PatientInfoId, TotalBill, TotalDiscountAmount, NetAmount, 
                            PaidAmount, DueAmount, Remarks, BillNo)
    VALUES (@PatientInfoId, @TotalBill, @TotalDiscountAmount, @NetAmount, 
            @PaidAmount, @DueAmount, @Remarks, @BillNo)
    
    SET @BillSummaryId = SCOPE_IDENTITY()
    
    -- Return the generated BillNo for reference
    SELECT @BillNo as GeneratedBillNo
END
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertDuePayment]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsertDuePayment]
    @BillSummaryId   INT,
    @PaymentMode     VARCHAR(20),
    @Amount          DECIMAL(10,2),
    @RefNo           VARCHAR(50)    = NULL,
    @ReceivedBy      VARCHAR(100),
    @Remarks         VARCHAR(500)   = NULL,
    @DuePaymentId    INT            OUTPUT,
    @ReceiptNo       VARCHAR(20)    OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Generate the due-payment receipt with prefix 'RCPD'
    EXEC usp_GenerateReceiptNo 
         @Prefix    = 'RCPD', 
         @ReceiptNo = @ReceiptNo OUTPUT;

    -- 2. Insert into DuePayment
    INSERT INTO DuePayment
        (BillSummaryId, PaymentMode, Amount, RefNo, ReceivedBy, Remarks, ReceiptNo)
    VALUES
        (@BillSummaryId, @PaymentMode, @Amount, @RefNo, @ReceivedBy, @Remarks, @ReceiptNo);

    SET @DuePaymentId = SCOPE_IDENTITY();

    -- 3. Update BillSummary
    UPDATE BillSummary
      SET PaidAmount = PaidAmount + @Amount,
          DueAmount  = DueAmount  - @Amount
    WHERE BillSummaryId = @BillSummaryId;

    -- 4. Insert into PaymentDetail with the *same* due-payment receipt
    INSERT INTO PaymentDetail
        (BillSummaryId, PaymentMode, Amount, RefNo, IsDuePayment, ReceiptNo, PaymentDate)
    VALUES
        (@BillSummaryId, @PaymentMode, @Amount, @RefNo, 1, @ReceiptNo, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertPatientInfo]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Modified usp_InsertPatientInfo to generate UHID
CREATE PROCEDURE [dbo].[usp_InsertPatientInfo]
    @MobileNo VARCHAR(20),
    @PatName VARCHAR(100),
    @Age INT,
    @AgeType VARCHAR(10) = NULL,
    @Gender VARCHAR(10) = NULL,
    @Ref VARCHAR(100) = NULL,
    @Area VARCHAR(100) = NULL,
    @City VARCHAR(100) = NULL,
    @Email VARCHAR(100) = NULL,
    @PatientInfoId INT OUTPUT
AS
BEGIN
    DECLARE @UHID VARCHAR(20)
    
    -- Generate UHID: EMED + Year + Sequential Number
    DECLARE @Year VARCHAR(4) = CAST(YEAR(GETDATE()) AS VARCHAR(4))
    DECLARE @MaxId INT
    
    SELECT @MaxId = ISNULL(MAX(CAST(SUBSTRING(UHID, 9, 10) AS INT)), 0)
    FROM PatientInfo 
    WHERE UHID LIKE 'EMED' + @Year + '%'
    
    SET @UHID = 'EMED' + @Year + RIGHT('0000' + CAST(@MaxId + 1 AS VARCHAR), 4)
    
    INSERT INTO PatientInfo (MobileNo, PatName, Age, AgeType, Gender, Ref, Area, City, Email, UHID)
    VALUES (@MobileNo, @PatName, @Age, @AgeType, @Gender, @Ref, @Area, @City, @Email, @UHID)
    
    SET @PatientInfoId = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertPaymentDetail]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_InsertPaymentDetail]
    @BillSummaryId INT,
    @PaymentMode   VARCHAR(20),
    @Amount        DECIMAL(10,2),
    @RefNo         VARCHAR(50) = NULL,
    @IsDuePayment  BIT         = 0,
    @ReceiptNo     VARCHAR(20)
AS
BEGIN
    INSERT INTO PaymentDetail
        (BillSummaryId, PaymentMode, Amount, RefNo, IsDuePayment, ReceiptNo, PaymentDate)
    VALUES
        (@BillSummaryId, @PaymentMode, @Amount, @RefNo, @IsDuePayment, @ReceiptNo, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_InvMaster]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Usp_InvMaster]
(  
   @Id INTEGER=NULL,
   @InvName VARCHAR(50)=NULL,
   @ReportHdr VARCHAR(50)=NULL,
   @Rate NUMERIC(9,2)=0,
   @SubDeptId INTEGER=NULL,
   @SpecimenId INTEGER=NULL,
   @VacutainerId INTEGER=NULL,
   @ReportTime VARCHAR(50)=NULL,
   @InvCode VARCHAR(50)=NULL,
   @GuideLines VARCHAR(50)=NULL,
   @Active BIT=NULL,
   @Action VARCHAR(20),
   @StatusCode INT = 0 OUTPUT,
   @StatusMsg VARCHAR(100) = NULL OUTPUT
)  
AS
BEGIN

IF @Action = 'Add'
BEGIN
	IF NOT EXISTS (SELECT InvName FROM Investigations WHERE InvName = @InvName)
		BEGIN
			Insert into Investigations values(@InvName,@ReportHdr,@Rate,@SubDeptId,@SpecimenId,@VacutainerId,@ReportTime,@InvCode,@GuideLines,@Active)  
			SELECT @StatusCode = 1, @StatusMsg = 'Investigation Created Successfully'
		END 
	ELSE
		BEGIN
			SELECT @StatusCode = 0, @StatusMsg = '"'+ @InvName +'"'+' '+ 'Already Exist'
		END
END
IF @Action='Update'
BEGIN
	IF NOT EXISTS (SELECT InvName FROM Investigations WHERE InvName = @InvName AND Id<>@Id)
		BEGIN
			Update Investigations set InvName=@InvName,ReportHdr=@ReportHdr,Rate=@Rate,SubDeptId=@SubDeptId,SpecimenId=@SpecimenId,VacutainerId=@VacutainerId,ReportTime=@ReportTime,InvCode=@InvCode,GuideLines=@GuideLines,Active=@Active where Id=@Id
			SELECT @StatusCode = 1, @StatusMsg = 'Investigation Updated Successfully'
		END
	ELSE
		BEGIN
			SELECT @StatusCode = 0, @StatusMsg = '"'+ @InvName +'"'+' '+ 'Already Exist'
		END
END

IF @Action='Delete'
BEGIN
	DELETE FROM Investigations WHERE Id=@Id
	SELECT @StatusCode = 1, @StatusMsg = 'Investigation Deleted Successfully'
END

IF @Action='GetInvestigation'
BEGIN
	SELECT Investigations.Id, InvName,SubDeptName, ReportHdr, Rate, SubDeptId, SpecimenId, VacutainerId, ReportTime, InvCode, GuideLines,ISNULL(Investigations.Active,0) Active FROM Investigations 
	INNER JOIN SubDepartment ON SubDepartment.Id = Investigations.SubDeptId
	ORDER BY id DESC
END

IF @Action='GetInvestigationById'
BEGIN
	SELECT INV.Id, INV.InvName,DEPT.DepartmentName,SDEPT.SubDeptName,VAC.ItemName VacutainerName,SPEC.ItemName SpecimenName, INV.ReportHdr, INV.Rate,DEPT.Id DeptId, INV.SubDeptId, INV.SpecimenId, INV.VacutainerId, INV.ReportTime, INV.InvCode, INV.GuideLines,ISNULL(INV.Active,0) Active FROM Investigations INV
	INNER JOIN SubDepartment SDEPT ON SDEPT.Id = INV.SubDeptId
	INNER JOIN Department DEPT ON DEPT.Id = SDEPT.DepartmentId
	INNER JOIN LookupTable SPEC ON SPEC.Id = INV.SpecimenId AND SPEC.ItemType='Specimen'
	INNER JOIN LookupTable VAC ON VAC.Id = INV.VacutainerId AND VAC.ItemType='Vacutainer'
	WHERE INV.Id = @id
END

END

GO
/****** Object:  StoredProcedure [dbo].[Usp_Login]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc  [dbo].[Usp_Login]  
@UserName varchar(50)='',  
@Password varchar(50)=''  
as begin  
    declare @UserId int =0,@TotalCnt int =0  
    select @UserId=UserId,@TotalCnt=TotalCnt from  Employeemaster um   
    where LoginName=@UserName and Password=@Password and Status<>3 and IsApporved=1  
    if(@TotalCnt>=5)  
    begin  
       select 0 UserId,'' UserName,'' LoginName,'' Password,'' Email,'' ContactNo,   
    ''Address,0 IsApporved,-1 Status  
    end  
    if(@UserId>0)  
    begin  
        select UserId, UserName, LoginName, Password, Email, ContactNo,   
        Address, IsApporved, Status from  Employeemaster um   
        where UserId=@UserId   
        --update  Employeemaster  set  Status=2 where UserId=@UserId   

    end  
    else  
    begin  
       Update Employeemaster set @TotalCnt=TotalCnt+1    
       where LoginName=@UserName and Status=1 and IsApporved=1  
       select 0 UserId,'' UserName,'' LoginName,'' Password,'' Email,'' ContactNo,   
    ''Address,0 IsApporved,0 Status  
    end  
    end  
GO
/****** Object:  StoredProcedure [dbo].[Usp_Lookup]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Usp_Lookup]
(  
   @Id INTEGER=NULL,
   @ItemName VARCHAR(50)=NULL,
   @ItemType VARCHAR(50) = NULL,
   @Active BIT=NULL,
   @Action VARCHAR(20),
   @StatusCode INT = 0 OUTPUT,
   @StatusMsg VARCHAR(100) = NULL OUTPUT
   --@CreateBy varchar (50),
   --@Terminal varchar (50),
   --@CreateDate datetime    
)  
AS
BEGIN

IF @Action = 'Add'
BEGIN
	IF NOT EXISTS (SELECT ItemName FROM LookupTable WHERE ItemName = @ItemName and ItemType = @ItemType)
		BEGIN
			Insert into LookupTable values(@ItemName,@ItemType,@Active)  
			SELECT @StatusCode = 1, @StatusMsg = @ItemType +' '+'Created Successfully'
		END 
	ELSE
		BEGIN
			SELECT @StatusCode = 0, @StatusMsg = '"'+ @ItemName +'"'+' '+ 'Already Exist'
		END
END
IF @Action='Update'
BEGIN
	IF NOT EXISTS (SELECT ItemName FROM LookupTable WHERE ItemName = @ItemName and ItemType = @ItemType AND Id<>@Id)
		BEGIN
			Update LookupTable set ItemName=@ItemName,ItemType=@ItemType,Active=@Active where Id=@Id
			SELECT @StatusCode = 1, @StatusMsg = @ItemType +' '+ 'Updated Successfully'
		END
	ELSE
		BEGIN
			SELECT @StatusCode = 0, @StatusMsg = '"'+ @ItemName +'"'+' '+ 'Already Exist'
		END
END

IF @Action='Delete'
BEGIN
	DELETE FROM LookupTable WHERE Id=@Id and ItemType = @ItemType
	SELECT @StatusCode = 1, @StatusMsg = @ItemType +' '+ 'Deleted Successfully'
END

IF @Action='GetRecords'
BEGIN
	SELECT Id,ItemName,ItemType,ISNULL(Active,0) Active FROM LookupTable WHERE ItemType=@ItemType ORDER BY id DESC
END

IF @Action='GetRecordsById'
BEGIN
	SELECT Id,ItemName,ItemType,ISNULL(Active,0) Active FROM LookupTable WHERE Id = @id
END

END
GO
/****** Object:  StoredProcedure [dbo].[usp_SaveSampleCollection]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_SaveSampleCollection]
    @BillSummaryId INT,
    @PatientInfoId INT,
    @CollectionDate DATETIME,
    @CollectionTime TIME,
    @CollectedBy VARCHAR(100),
    @Priority VARCHAR(20),
    @HomeCollection BIT,
    @PatientAddress VARCHAR(500),
    @Remarks VARCHAR(500),
    @CreatedBy VARCHAR(100),
    @SampleCollectionId INT OUTPUT,
    @CollectionBarcode VARCHAR(30) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Generate Collection Barcode
        DECLARE @DateCode CHAR(6) = FORMAT(@CollectionDate, 'yyMMdd')
        DECLARE @Seq INT
        
        SELECT @Seq = ISNULL(MAX(CAST(RIGHT(CollectionBarcode, 4) AS INT)), 0)
        FROM SampleCollection
        WHERE CAST(CollectionDate AS DATE) = CAST(@CollectionDate AS DATE)
        
        SET @CollectionBarcode = 'SC' + @DateCode + RIGHT('0000' + CAST(@Seq + 1 AS VARCHAR), 4)

        -- Insert Sample Collection Master
        INSERT INTO SampleCollection
        (BillSummaryId, PatientInfoId, CollectionDate, CollectionTime, CollectedBy, 
         CollectionBarcode, CollectionStatus, Priority, HomeCollection, PatientAddress,
         Remarks, CreatedDate, CreatedBy)
        VALUES
        (@BillSummaryId, @PatientInfoId, @CollectionDate, @CollectionTime, @CollectedBy,
         @CollectionBarcode, 'Pending', @Priority, @HomeCollection, @PatientAddress,
         @Remarks, GETDATE(), @CreatedBy)

        SET @SampleCollectionId = SCOPE_IDENTITY()

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SaveSampleCollectionDetail]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_SaveSampleCollectionDetail]
    @SampleCollectionId INT,
    @InvMasterId INT,
    @InvestigationName VARCHAR(200),
    @SpecimenType VARCHAR(100),
    @ContainerType VARCHAR(100),
    @FastingRequired BIT,
    @SpecialInstructions VARCHAR(500),
    @CollectedQuantity VARCHAR(50),
    @SampleStatus VARCHAR(20),
    @CollectionDate DATETIME = NULL,
    @CollectionTime TIME = NULL,
    @RejectionReason VARCHAR(200) = NULL,
    @SampleBarcode VARCHAR(30) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Check if this sample detail already exists
        DECLARE @ExistingDetailId INT
        SELECT @ExistingDetailId = SampleDetailId 
        FROM SampleCollectionDetail
        WHERE SampleCollectionId = @SampleCollectionId 
          AND InvMasterId = @InvMasterId

        -- If exists, update the record
        IF @ExistingDetailId IS NOT NULL
        BEGIN
            -- Update existing record
            UPDATE SampleCollectionDetail
            SET SampleStatus = @SampleStatus,
                CollectedQuantity = @CollectedQuantity,
                CollectionDate = CASE 
                    WHEN @SampleStatus = 'Collected' AND CollectionDate IS NULL THEN ISNULL(@CollectionDate, GETDATE())
                    WHEN @SampleStatus = 'Collected' THEN CollectionDate  -- Keep original collection date
                    ELSE NULL
                END,
                CollectionTime = CASE 
                    WHEN @SampleStatus = 'Collected' AND CollectionTime IS NULL THEN ISNULL(@CollectionTime, CAST(GETDATE() AS TIME))
                    WHEN @SampleStatus = 'Collected' THEN CollectionTime  -- Keep original collection time
                    ELSE NULL
                END,
                RejectionReason = CASE
                    WHEN @SampleStatus = 'Rejected' THEN @RejectionReason
                    ELSE NULL
                END,
                RejectionDate = CASE
                    WHEN @SampleStatus = 'Rejected' AND RejectionDate IS NULL THEN GETDATE()
                    WHEN @SampleStatus = 'Rejected' THEN RejectionDate
                    ELSE NULL
                END,
                CreatedDate = GETDATE()
            WHERE SampleDetailId = @ExistingDetailId

            SELECT @SampleBarcode = SampleBarcode FROM SampleCollectionDetail WHERE SampleDetailId = @ExistingDetailId
        END
        ELSE
        BEGIN
            -- Generate barcode for new sample
            DECLARE @DateCode CHAR(6) = FORMAT(GETDATE(), 'yyMMdd')
            DECLARE @SampleDetailId INT
            DECLARE @TempBarcode VARCHAR(30) = 'TEMP'
            
            -- Insert first to get the identity
            INSERT INTO SampleCollectionDetail
            (SampleCollectionId, InvMasterId, InvestigationName, SpecimenType, ContainerType,
             SampleBarcode, FastingRequired, SpecialInstructions, CollectedQuantity, SampleStatus,
             CollectionDate, CollectionTime, RejectionReason, RejectionDate, CreatedDate)
            VALUES
            (@SampleCollectionId, @InvMasterId, @InvestigationName, @SpecimenType, @ContainerType,
             @TempBarcode, @FastingRequired, @SpecialInstructions, @CollectedQuantity, @SampleStatus,
             CASE WHEN @SampleStatus = 'Collected' THEN ISNULL(@CollectionDate, GETDATE()) ELSE NULL END,
             CASE WHEN @SampleStatus = 'Collected' THEN ISNULL(@CollectionTime, CAST(GETDATE() AS TIME)) ELSE NULL END,
             CASE WHEN @SampleStatus = 'Rejected' THEN @RejectionReason ELSE NULL END,
             CASE WHEN @SampleStatus = 'Rejected' THEN GETDATE() ELSE NULL END,
             GETDATE())

            SET @SampleDetailId = SCOPE_IDENTITY()

            -- Generate barcode using identity
            SET @SampleBarcode = 'S' + @DateCode + RIGHT('00000' + CAST(@SampleDetailId AS VARCHAR), 5)

            -- Update with real barcode
            UPDATE SampleCollectionDetail
            SET SampleBarcode = @SampleBarcode
            WHERE SampleDetailId = @SampleDetailId
        END

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SearchPatientsByMobile]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_SearchPatientsByMobile]
    @MobileNo VARCHAR(20)
AS
BEGIN
    SELECT TOP 10 
        PatientInfoId,
        UHID,
        PatName,
        Age,
        CASE WHEN AgeType = 1 THEN 'Year(s)' WHEN AgeType=2 THEN 'Month(s)' WHEN AgeType=3 THEN 'Day(s)' END AS AgeType,
        CASE WHEN Gender = 1 THEN 'Male' WHEN Gender=2 THEN 'Female' ELSE 'Others' END AS Gender,
        Ref,
        Area,
        City,
        Email,
        MobileNo,
        --Get last visit date from BillSummary
        (SELECT MAX(BillDate) FROM BillSummary bs WHERE bs.PatientInfoId = pi.PatientInfoId) as LastVisit
    FROM PatientInfo pi
    WHERE MobileNo = @MobileNo
    ORDER BY PatientInfoId DESC
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SearchPatientsUniversal]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create or Update the stored procedure for universal search
CREATE   PROCEDURE [dbo].[usp_SearchPatientsUniversal]
    @SearchValue VARCHAR(20)
AS
BEGIN
    SELECT TOP 10 
        PatientInfoId,
        UHID,
        PatName,
        Age,
        CASE WHEN AgeType = 1 THEN 'Year(s)' WHEN AgeType=2 THEN 'Month(s)' WHEN AgeType=3 THEN 'Day(s)' END AS AgeType,
        CASE WHEN Gender = 1 THEN 'Male' WHEN Gender=2 THEN 'Female' ELSE 'Others' END AS Gender,
        Ref,
        Area,
        City,
        Email,
        MobileNo,
        -- Get last visit date from BillSummary
        (SELECT MAX(BillDate) FROM BillSummary bs WHERE bs.PatientInfoId = pi.PatientInfoId) as LastVisit
    FROM PatientInfo pi
    WHERE 
        MobileNo = @SearchValue 
        OR UHID = @SearchValue
        OR UHID LIKE '%' + @SearchValue + '%'  -- Partial UHID match
    ORDER BY 
        -- Prioritize exact matches
        CASE 
            WHEN MobileNo = @SearchValue THEN 1
            WHEN UHID = @SearchValue THEN 2
            ELSE 3
        END,
        PatientInfoId DESC
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_SubDepartment]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Usp_SubDepartment]
(  
   @Id INTEGER=NULL,
   @Action VARCHAR(100),
   @SubDeptName VARCHAR(100) = NULL,
   @DeptId BIGINT = NULL,
   @Header VARCHAR(100) = NULL,
   @Active BIT = NULL,
   @StatusCode INT = 0 OUTPUT,
   @StatusMsg VARCHAR(100) = NULL OUTPUT
   --@CreateBy varchar (50),
   --@Terminal varchar (50),
   --@CreateDate datetime    
)  
AS
BEGIN

IF @Action = 'Add'
BEGIN
	IF NOT EXISTS (SELECT SubDeptName FROM SubDepartment WHERE SubDeptName = @SubDeptName)
		BEGIN
			Insert into SubDepartment values(@SubDeptName,@DeptId,@Header,@Active)  
			SELECT @StatusCode = 1, @StatusMsg = 'Sub Department Created Successfully'
		END
	ELSE
		BEGIN
			SELECT @StatusCode = 0, @StatusMsg = '"'+ @SubDeptName +'"'+' '+ 'Already Exist'
		END
End 

IF @Action='Update'
BEGIN
	IF NOT EXISTS (SELECT SubDeptName FROM SubDepartment WHERE SubDeptName = @SubDeptName and Id <> @Id)
		BEGIN
			Update SubDepartment set SubDeptName=@SubDeptName,DepartmentId=@DeptId,Header=@Header,Active=@Active where Id=@Id
			SELECT @StatusCode = 1, @StatusMsg = 'Sub Department Updated Successfully'
		END
	ELSE
		BEGIN
			SELECT @StatusCode = 0, @StatusMsg = '"'+ @SubDeptName +'"'+' '+ 'Already Exist'
		END
END


IF @Action='Delete'
BEGIN
	DELETE FROM SubDepartment WHERE Id=@Id
	SELECT @StatusCode = 1, @StatusMsg = 'Sub Department Deleted Successfully'
END

IF @Action='GetSubDepartment'
BEGIN
	SELECT SubDepartment.Id,SubDeptName,Department.DepartmentName,ISNULL(SubDepartment.Active,0) Active FROM SubDepartment 
	INNER JOIN Department ON Department.Id = SubDepartment.DepartmentId
	ORDER BY SubDeptName
END

IF @Action='GetSubDepartmentById'
BEGIN
	SELECT SubDepartment.Id,SubDeptName,DepartmentId,Department.DepartmentName,Header,SubDepartment.Active FROM SubDepartment 
	INNER JOIN Department ON Department.Id = SubDepartment.DepartmentId
	WHERE SubDepartment.Id = @id
END

IF @Action='GetSubDepartmentByDeptId'
BEGIN
	SELECT SubDepartment.Id,SubDeptName,DepartmentId,Department.DepartmentName,Header,SubDepartment.Active FROM SubDepartment 
	INNER JOIN Department ON Department.Id = SubDepartment.DepartmentId
	WHERE Department.Id = @DeptId
END

END

GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateSampleCollectionStatus]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdateSampleCollectionStatus]
    @SampleCollectionId INT,
    @CollectionStatus VARCHAR(20),
    @UpdatedBy VARCHAR(100)
AS
BEGIN
    UPDATE SampleCollection
    SET CollectionStatus = @CollectionStatus,
        UpdatedDate = GETDATE(),
        UpdatedBy = @UpdatedBy
    WHERE SampleCollectionId = @SampleCollectionId
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateSampleDetailStatus]    Script Date: 29-12-2025 6:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdateSampleDetailStatus]
    @SampleDetailId INT,
    @SampleStatus VARCHAR(20),
    @CollectedQuantity VARCHAR(50) = NULL,
    @CollectionDate DATETIME = NULL,
    @CollectionTime TIME = NULL,
    @RejectionReason VARCHAR(200) = NULL
AS
BEGIN
    UPDATE SampleCollectionDetail
    SET SampleStatus = @SampleStatus,
        CollectedQuantity = @CollectedQuantity,
        CollectionDate = CASE 
            WHEN @SampleStatus = 'Collected' AND CollectionDate IS NULL THEN ISNULL(@CollectionDate, GETDATE())
            WHEN @SampleStatus = 'Collected' THEN CollectionDate
            ELSE NULL
        END,
        CollectionTime = CASE 
            WHEN @SampleStatus = 'Collected' AND CollectionTime IS NULL THEN ISNULL(@CollectionTime, CAST(GETDATE() AS TIME))
            WHEN @SampleStatus = 'Collected' THEN CollectionTime
            ELSE NULL
        END,
        RejectionReason = CASE WHEN @SampleStatus = 'Rejected' THEN @RejectionReason ELSE NULL END,
        RejectionDate = CASE WHEN @SampleStatus = 'Rejected' AND RejectionDate IS NULL THEN GETDATE() ELSE NULL END
    WHERE SampleDetailId = @SampleDetailId
END
GO
